@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100dvh;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a,
i,
figure,
img,
button,
input[type="button"],
input[type="submit"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
  border-style: none;
  outline-style: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 1200px;
  width: min(100% - 25px, 1080px);
  margin-inline: auto;
  box-sizing: border-box;
}

/* ! ------------------------------------------------------------------------ */
/* !                                 CONTENT                                  */
/* ! ------------------------------------------------------------------------ */

button,
a {
  padding: 1.5rem 2.5rem;
  font-weight: 500;
  border-radius: 0.4rem;
}

.button-type-one {
  background-color: #0599ff;
  border: 0.1rem solid transparent;
  transition: 0.2s all ease-in-out;
  color: #fff;
}

.button-type-one:hover {
  background-color: #005f9f;
  border: 0.1rem solid transparent;
}

.button-type-two {
  background-color: #fff;
  border: 0.1rem solid #000;
  transition: 0.2s all ease-in-out;
}

.button-type-two:hover {
  background-color: #000;
  border: 0.1rem solid #000;
  color: #fff;
}

/* ! ------------------------------------------------------------------------ */
/* !                                 MAP                                      */
/* ! ------------------------------------------------------------------------ */

.map-section {
  width: 100%;
  height: 100%;
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 5rem;
}

.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left {
  display: none !important;
}

#map {
  width: 100%;
  height: 500px;
  background-color: #aeaeae;
  border-radius: 0.4rem;
}

.map-container {
  position: relative;
  width: calc(100% - 0px);
  border: 0.1rem solid #000;
  border-radius: 0.4rem;
}

#fly-btn {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #0599ff;
}

#fly-btn i {
  font-size: 25px;
  color: #fff;
}

.mobile-navbar-container {
  display: none;
}

.desktop-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10svh;
}

.desktop-navbar-container button {
  padding: 1rem 2.5rem;
}

.logo-container {
  width: 12%;
}

section {
  height: 80svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-banner-section {
  background: rgb(246, 253, 255);
  background: rgb(246, 253, 255);
  background: linear-gradient(
    114deg,
    rgba(246, 253, 255, 1) 67%,
    rgba(219, 247, 255, 1) 67%,
    rgba(178, 235, 255, 1) 73%,
    rgba(141, 221, 255, 1) 79%,
    rgba(141, 221, 255, 1) 85%,
    rgba(101, 210, 255, 1) 92%,
    rgba(5, 153, 255, 1) 100%
  );
}

.hero-banner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-a {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  padding-right: 10rem;
}

.section-title {
  margin-bottom: -2rem;
}

.stats-section__background h2 {
  text-align: center;
}

.side-b {
  height: 100%;
  width: 45%;
  position: relative;
}

.side-b div {
  width: 100%;
  height: 50rem;
}

.side-c {
  height: 100%;
  width: 45%;
}

.side-c div {
  width: 100%;
  height: 50rem;
}

.side-c div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}

.side-b::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50rem;
  background-color: transparent;
  background: url("../media/img/product.png") no-repeat center center/cover;
  z-index: 1;
}

.side-a__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
}

p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
}

.full-fleet-visibility-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reliable-software-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reliable-software-container div:last-child {
  padding-left: 5rem;
}

.reliable-software-container__img-container,
.reliable-software-container__text-container {
  text-align: right;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 4rem;
}

.reliable-software-container div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}

.reliable-software-container__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

footer {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  color: #fff;
}

.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item.copyright {
  color: #fff;
}

h3 {
  font-size: 9rem;
  color: #67c1fd;
}

.section-get-a-tour h3 {
  font-size: 9rem;
  color: #67c1fd;
}

.section-get-a-tour a:hover {
  text-decoration: underline;
  color: #67c1fd;
}

.section-get-a-tour {
  background: url("../media/img/tour.jpg") no-repeat center bottom / cover;
  height: 60svh;
}

.stats-container {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
}

.single-stat {
  width: 28%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.single-stat p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
}

.stats-section__background {
  background-color: #000;
  color: #fff;
  margin-bottom: 5rem;
}

.stats-section__background p,
.stats-section__background h2 {
  color: #fff;
}
